html,
body,
.wrapper-table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a:link{
	color:#000;
}
.wrapper-table {
    display: table;
	
}

.wrapper-table-cell {
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.content-coming-soon {
	min-width:400px;
    width: 60%;
    height: auto;
    margin: auto;
	padding:20px;
	border-radius:20px;
	background-color:rgba(255,255,255,.5);
	box-shadow:10px 10px 10px rgba(40,40,40,.3);
	border:1px solid #808080;
}

.coming-soon-wrapper {
    display: inline-block;
    padding: 20px;
    text-align: center;
    background-color: #ecf0f1;
}

.coming-soon-wrapper-transparent {
    display: inline-block;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .6);
}

.coming-soon-wrapper + .coming-soon-wrapper,
.coming-soon-wrapper-transparent + .coming-soon-wrapper-transparent {
    margin-left: 16px;
}

.coming-soon-time {
    font-size: 40px;
    font-weight: 700;
}

.coming-soon-date {
    font-size: 16px;
    display: block;
}

@media (max-width: 767px) {
    .coming-soon-wrapper,
    .coming-soon-wrapper-transparent {
        padding: 10px;
    }
    .coming-soon-wrapper + .coming-soon-wrapper,
    .coming-soon-wrapper-transparent + .coming-soon-wrapper-transparent {
        margin-left: 8px;
    }
    .coming-soon-time {
        font-size: 22px;
        font-weight: 700;
    }
    .coming-soon-date {
        font-size: 13px;
        display: block;
    }
}
