@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="section-heading-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="heading-page text-center-xs">About us </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb text-right text-center-xs">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">About us</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- SECTION CALL-TO -->
<!--===============================================================-->
<div class="section">
    <div class="container">
        <div class="row mb" id="progress-bar-count">
            <div class="col-sm-12 ">
                <h3 class="title-md text-theme mb-20">Stay safe and healthy with XRAi DIGITAL: the ultimate destination for all your diagnostic needs.</h3>
            </div>
            <div class="col-sm-6 ">
                <p class="text-theme ">Welcome to India’s first Digital AI enabled HOME diagnostic services. You get a complete digital diagnostic  service experience with us.  We cover most of the radiology, cardiology and pathology diagnostic services at the comfort of your home.</p>
                <h3> XRAi digital : A vision</h3>
                <p class="text-theme ">Here at Xrai digital we aim towards providing the best healthcare diagnostic services by trained and experienced medical technicians by using most advanced and digital machines at the comfort of your home. </p>
                <br>
                <p> We aim to reduce the carbon emission for which our technicians use lithium ion powered electric scooters for reaching out to you.</p>
            </div>
            <div class="col-sm-6">
                <!-- SLIDER -->
                <div class="wrapper-slider">
                    <div id="carousel-30" class="carousel slide" data-ride="carousel" data-interval="3500">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-slide" src="~/assets/images/bg/bg-11.jpg" alt="Srevices">
                            </div>
                            <div class="item">
                                <img class="img-slide" src="~/assets/images/bg/iStock1209787486.jpg" alt="Srevices">
                            </div>
                            <div class="item">
                                <img class="img-slide" src="~/assets/images/bg/iStock-1211385241.jpg" alt="Srevices">
                            </div>
                            <div class="item">
                                <img class="img-slide" src="~/assets/images/bg/iStock-1202870693.jpg" alt="Srevices">
                            </div>
                            @*<div class="item">
                                <img class="img-slide" src="~/assets/images/bg/about-5.jpg" alt="Srevices">
                            </div>
                            <div class="item">
                                <img class="img-slide" src="~/assets/images/bg/about-6.jpg" alt="Srevices">
                            </div>*@
                        </div>
                        <!-- Controls -->
                        <a href="#carousel-30" role="button" data-slide="prev">
                            <i class="fa fa-angle-left fa-2x btn-prev"></i>
                        </a>
                        <a href="#carousel-30" role="button" data-slide="next">
                            <i class="fa fa-angle-right fa-2x btn-next"></i>
                        </a>
                    </div>
                </div>
                <!-- SLIDER END-->
            </div>
            <div class="col-sm-12 servicesweoffer mt-20">
                <h4>XRAi digital is India’s first digital healthcare platform where you can book your health tests and get them done at your home</h4>
                <ul class="list-group mt-20">
                    <li>
                        We provide xray at home using AERB approved low dose high  frequency xray machines
                    </li>
                    <li>We provide digital ECG/HOLTER at home using the latest and smallest digital cardiac monitoring devices.</li>
                    <li>We also provide personalized health screening packages for regular health checkups</li>
                </ul>
            </div>

        </div>
    </div>
</div>
