@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}






<!-- SECTION INTRO SLIDER -->
<!--===============================================================-->
<div class="section-intro-bg-slider section-slider">
    <!-- SLIDER -->
    <div class="wrapper-slider" id="intro-slider-wrapper">
        <div class="carousel slide carousel-intro" id="carousel-intro" data-ride="carousel" data-interval="6000">
            <div class="wrapper-preloader">
                <div id="preloader"></div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-intro" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-intro" data-slide-to="1"></li>
                <li data-target="#carousel-intro" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- first slide -->
                <div class="item item-bg-1 item-theme-first active">
                    <div class="layer-intro layer-bg-slider">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <h1 class="text-theme title-xl mt-40 text-uppercase animation an-delay-06 an-duration-04 fadeInUpSlider">Comfortable & Safe X-Ray at your Doorstep<br></h1>
                                    <h4 class="text-theme title-xm mt-10  animation an-delay-06 an-duration-04 fadeInUpSlider">Avail our home X-Ray services today!<br></h4>
                                    <a href="/Account/Login" class="text-theme btn btn-rounded btn-lg btn-primary btn-md animation an-delay-09 an-duration-04 fadeInUpSlider">
                                        <i class="fa fa-cloud-download"></i>Book your slot
                                    </a>
                                    <a href="/Home/Services" class="text-theme btn btn-primary btn-rounded btn-lg btn-ghost btn-md animation an-delay-12 an-duration-04 fadeInUpSlider">
                                        <i class="fa fa-rocket"></i>Know More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second slide -->
                <div class="item item-bg-2 item-theme">
                    <div class="layer-bg-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <h1 class="text-theme title-xl animation an-delay-06 an-duration-04 fadeInUpSlider">Wherever you stay</h1>
                                    <p class="text-theme lead animation an-delay-08 an-duration-04 fadeInRightSlider">We are just a click away</p>
                                    <ul class="list-unstyled list-md text-theme">
                                        <li class="animation an-delay-11 an-duration-04 fadeInRightSlider"><i class="fa fa-check fa-round"></i>Reliability</li>
                                        <li class="animation an-delay-13 an-duration-04 fadeInRightSlider"><i class="fa fa-code fa-round"></i>Accuracy</li>
                                        <li class="animation an-delay-15 an-duration-04 fadeInRightSlider"><i class="fa fa-cloud-download fa-round"></i>All at your doorstep</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- third slide -->
                <div class="item item-bg-3 item-theme">
                    <div class="layer-bg-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <h1 class="text-theme title-xl animation an-delay-06 an-duration-04 fadeInUpSlider">We take care of your diagnostics</h1>
                                    <a href="/Account/Login" class="text-theme btn btn-rounded btn-lg btn-primary btn-md animation an-delay-09 an-duration-04 fadeInLeftSlider">
                                        <i class="fa fa-cloud-download"></i>Book your slot
                                    </a>
                                    <a href="/Home/Services" class="text-theme btn btn-primary btn-rounded btn-lg btn-ghost btn-md animation an-delay-12 an-duration-04 fadeInRightSlider">
                                        <i class="fa fa-rocket"></i>Know More...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER END-->
    <!-- Controls -->
    <a href="#carousel-intro" role="button" data-slide="prev">
        <i class="fa fa-angle-left fa-2x btn-prev-intro"></i>
    </a>
    <a href="#carousel-intro" role="button" data-slide="next">
        <i class="fa fa-angle-right fa-2x btn-next-intro"></i>
    </a>
</div>

<!-- SECTION CALL-TO -->
<!--===============================================================-->
<div class="section section-xs section-both section-primary section-call-to">
    <div class="container">
        <div class="row text-center-xs">
            <div class="col-sm-8">
                <h3 class="title-md">Your every diagnostics needs at your doorstep</h3>
            </div>
            <div class="col-sm-4 text-right text-center-xs">
                <a href="~/xraidigital.pdf" target="_blank" class="btn btn-ghost-white btn-lg"><i class="fa fa-cloud-download"></i>Download brochure</a>
            </div>
        </div>
    </div>
</div>

<!-- SEECTION FEATURES -->
<!--===============================================================-->
<div class="section section-sm section-both">
    <div class="container">
        <div class="row">
            <!-- FEATURES -->
            <div class="col-sm-3">
                <div class="icon-box">
                    <i class="fa fa-bar-chart-o fa-round fa-4x text-theme"></i>
                    <h3 class="title-sm text-theme-sm text-theme">Fast Service</h3>
                    <p class="text-theme-sm">
                        
                        <br>
                    </p>
                </div>
            </div>
            <!-- FEATURES -->
            <div class="col-sm-3">
                <div class="icon-box">
                    <i class="fa fa-cogs fa-round fa-4x text-theme"></i>
                    <h3 class="title-sm text-theme-sm text-theme">Most Accurate</h3>
                    <p class="text-theme-sm">
                       
                        <br>
                    </p>
                </div>
            </div>
            <!-- FEATURES -->
            <div class="col-sm-3">
                <div class="icon-box">
                    <i class="fa fa-paper-plane fa-round fa-4x text-theme"></i>
                    <h3 class="title-sm text-theme-sm text-theme">At your place</h3>
                    <p class="text-theme-sm">
                       
                        <br>
                    </p>
                </div>
            </div>
            <!-- FEATURES -->
            <div class="col-sm-3">
                <div class="icon-box">
                    <i class="fa fa-code fa-round fa-4x text-theme"></i>
                    <h3 class="title-sm text-theme-sm text-theme">Patient Friendly</h3>
                    <p class="text-theme-sm">
                        
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SECTION DARK -->
<!--===============================================================-->
<div class="section section-both section-sm section-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img class="img-responsive" src="~/assets/images/general/strength.jpg" alt="theme-img">
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h3 class="text-theme title-lg">Our Strength</h3>
                <p class="text-theme"></p>
                <ul class="text-theme list-unstyled list-md">
                    <li><i class="fa fa-check colored"></i>Diagnostic Services</li>
                    <li><i class="fa fa-check colored"></i>24/7 Customer Support</li>
                    <li><i class="fa fa-check colored"></i>Experienced Team</li>
                    <li><i class="fa fa-check colored"></i>Trust Worthy</li>
                </ul>
                <a href="/Home/Services" class="text-theme btn btn-lg btn-primary"><i class="fa fa-rocket"></i>Know More ...</a>
            </div>
        </div>
    </div>
</div>
<!-- SECTION -->
<!--===============================================================-->
<!-- SECTION COUNT -->

<div class="section section-sm section-bottom">
    @*<div class="container">


        <div class="appointmentform">
            <div>
                <h3 class="title-md text-theme booking-form-heading ">Book an Appointment</h3>
                <p class="text-theme appointment-sub-title">Please fill in your details to schedule the Appointment</p>

            </div>
            
                <div class="row mt-20">
                    <div class="col-sm-6">
                        <div class="media-left ">
                            <i class="fa fa-user fa-round fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="form-group">
                                <label for="inputEmail">Name</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-left">
                            <i class="fa fa-phone fa-round fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="form-group">
                                <label for="inputEmail">Phone Number</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-sm-6">
                        <div class="media-left">
                            <i class="fa fa-envelope fa-round fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-left">
                            <i class="fa fa-file-text fa-round fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="form-group">
                                <label for="inputEmail">Enter OTP</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-sm-6">
                        <div class="media-left">
                            <i class="fa fa-gear fa-round fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="form-group">

                                <label for="inputState">Select a service</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-left">
                            <i class="fa fa-reply fa-round fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <div class="form-group">
                                <label for="inputEmail"></label>
                                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>





                <div id="success" class="mt-40">
                    <div class="icon-box bordered">
                        <i class="fa fa-check fa-round fa-4x text-theme"></i>
                        <h3 class="lead text-theme">Your message was successfully sent!</h3>
                    </div>
                </div>

                <div id="error" class="mt-40">
                    <div class="icon-box bordered">
                        <i class="fa fa-lock fa-round fa-4x text-theme"></i>
                        <h3 class="lead text-theme">Something went wrong, try refreshing and submitting the form again.</h3>
                    </div>
                </div>
        </div>
        


    </div>*@
</div>




<!--===============================================================-->
<!-- SECTION WORK AND CLIENTS -->
<!--===============================================================-->
@*<div class="section section-lg section-both section-dark">
    <div class="container">
        Testimonials

    </div>
</div>*@









@*<div class="jumbotron">
        <h1>Doctor Visitor Management System</h1>
        <p class="lead">In this application we can see the  .</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Slot Booking</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Services</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Diagnostic Services</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@