@model DOTNETCOREEXAMPLE.Models.Class_REPORT_FILES_DETAILS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>REPORT FILES DETAILS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "REPORTFILESDETAILS", FormMethod.Post,
                  new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @*<form asp-action="Create">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="SLOTBOOKINGDETID" class="control-label"></label>
                <input asp-for="SLOTBOOKINGDETID" class="form-control" />*@
                @Html.Hidden("SLOTBOOKINGDETID", (object)ViewBag.SLOTBOOKINGDETID, new { @readonly = "readonly", @class = "form-control" })
                @Html.Hidden("SLOTBOOKINGID", (object)ViewBag.SLOTBOOKINGID, new { @readonly = "readonly", @class = "form-control" })
                <span asp-validation-for="SLOTBOOKINGDETID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="visit-type">Service File Name </label>
                <input type="file" class="form-control file" name="reportfile" id="reportfile" value="a.txt" /><br><br>
                @*<input asp-for="SERVICEFILENAME" class="form-control" />
                <span asp-validation-for="SERVICEFILENAME" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                <label asp-for="REPORTFILENAME" class="control-label"></label>
                <input asp-for="REPORTFILENAME" class="form-control" />
                <span asp-validation-for="REPORTFILENAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REPORTEXTENSION" class="control-label"></label>
                <input asp-for="REPORTEXTENSION" class="form-control" />
                <span asp-validation-for="REPORTEXTENSION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ISACTIVE" /> @Html.DisplayNameFor(model => model.ISACTIVE)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
            }
            @*</form>*@
        </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

</body>
</html>
